.containerLogin {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 1;
  background-color: #84e7d289; /* cor da esquerda */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.intro {
  text-align: center;
  max-width: 720px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #2d6962;
  margin: 0 0 0.5rem 0;
}

.text {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.509);
  margin: 0;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #f5f5f5
}
.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #5cb3a0;
  border-radius: 4px;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #84e7d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #63cbbf;
}

.label {
  font-size: 0.875rem;
  color: #2d6962;
  font-weight: 600;
}